/* Body */

body {
    background-color: black;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-attachment: fixed;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

/* Particles JS */

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

/* Navigation bar */

.navbar-dark {
    background: rgba(0, 0, 0, 0.4);
}

.nav-item {
    padding-right: 1vw;
}

svg {
    margin-right: 0.2vw;
}

.logo {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.80));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    cursor: pointer;

}

.logo:hover {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

.navbar {
    margin-top: 1vh;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
}

.footer {
    margin-top: 4vh;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    margin-right: 1vw;
    margin-left: 1vw;
    color: white;
}

/* Project list */

.fillBackground {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
}

.projectBox {
    min-height: 20vh;
    margin-top: 2vh;
    transition: all 0.3s;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    border: 2px white solid;
    box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
}

.logo-center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 75%;
    max-height: 100%;
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s linear;
    opacity: 0;
}

.projectBox:hover {
    transform: scale(1.1);
}

.projectBox:hover .logo-center {
    visibility: visible;
    transition: visibility 0s, opacity 0.3s linear;
    opacity: 1;
}

.projectPick {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}

.project-text-effect {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
    /* Opera */
}

.project-content-effect {
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    /* Firefox */
    -webkit-animation: fadein 4s;
    /* Safari and Chrome */
    -o-animation: fadein 4s;
    /* Opera */
}
